<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TEXT TO SPEAK API DOCUMENTATION</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/resume.min.css" rel="stylesheet">

</head>
<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">SIGN UP WITH FACEBOOK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">GET TEXT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">SEND AUDIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">GET AUDIO</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">TEXT
          <span class="text-primary">TO SPEAK</span>
        </h1>
        <div class="subheading mb-5">YANGON Myanmar
          <a href="mailto:name@email.com">heinzaw11193@gmail.com</a>
        </div>
        <p class="lead mb-5">Transformation from Text to Speak</p>
        <div class="social-icons">
          <a href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">API Documentation</h2>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">SIGN UP WITH FACEBOOK</h3>
            <div class="subheading mb-3">Description</div>
            <p>User sign up to the server with facebook</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">23 MAY 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">GET TEXTS</h3>
            <div class="subheading mb-3">Description</div>
            <p>Request to the server about 100 text</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">23 MAY 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">SEND AUDIO</h3>
            <div class="subheading mb-3">Description</div>
            <p>User send recorded audio to the server</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2 June 2019</span>
          </div>
        </div>



      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">SIGN UP WITH FACEBOOK</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Descripton</h3>
            <div class="subheading mb-3">Sing up to the server with facebook</div>
            <div>User need to request for sign up with <b>Facebook Token</b> to the server<br>
              If <b>Facebook Token</b> is right,server return <b>access token</b> to the user with base64 string<br>
              So..........<br>
              <h4 class="mb-0">Requirement</h4>
              <ul type=".">
                <li>
                  facebook access token with key <b>"fbtoken"</b></b>.
                </li>
                <li>
                  Method:Post
                </li>
                <li>
                  Content-Type for Header Bar is <b>"application/x-www-form-urlencoded"</b>
                </li>
              </ul>

            </div>
            <div>
              <h3>For Example</h3>
              <h4>Method:POST</h4>&nbsp;
              <b>URL:/api/login</b>&nbsp<br>
              <h4>Output:</h4><div><p>{<br>
              "userName": "Moe Moe San",<br>
              "fbId": "451962272046239",<br>
              "token": "ChfbrfJHm96UQ2nTdDyLsm9drAw8jwt6yzD0BMI969tZKWUTfQz6HYog0uQ<br>1JgnLfIrxYwIcb90Y83Voml7Nukix6Ued7IzlH3l0FpIm25cWernVmFt/Xg46xPbrP0U7zGEFg/2BnHnvXijmkg39v8H287PgMRh7Ubo+uDIP6ZA=",<br>
              "Status": "User Account Create Successfully"<br>
              }</p></div>


            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">22 May 2019</span>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">GET TEXT</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Descripton</h3>
            <div class="subheading mb-3">Get text from server</div>
            <div>
              <p>Get one hundred texts from server for record the audio from text</p>
            </div>
            <div>
              <h4>REQUIREMENT</h4>
              <ul>
                <li>
                  <b>METHOD:POST</b>
                </li>
                <li>
                  <b>URL:/api/posts/gettexts</b>
                </li>
                <li>
                  <b>Output:</b><br>
                  <div>
                    [<br>
                    {<br>
                    "id": "5cf65ded2dd18f6e24a369d3",<br>
                    "value": "\nYou came along this funny thing called JavaScript, but you only used it in a very basic way, adding\ninteractivity to your web pages every now and then",<br>
                    "hashvalue": "1904c0bc9dceebb1c9a1e5e1bd91ace095fd52360d8f8d624d6aca2a54a4719a"<br>
                    },<br>
                    {<br>
                    "id": "5cf65ded2dd18f6e24a369d1",<br>
                    "value": " This chapter is here to allow you to estimate if reading this document\nany further makes sense for you",<br>
                    "hashvalue": "ac8a07239206f978bf560fa23484a0974bd253dcaefd8fe67bec9959be29d669"<br>
                    },<br>
                    {<br>
                    "id": "5cf65ded2dd18f6e24a369d2",<br>
                    "value": "\nIf you are like me, you started with HTML “development” long ago, by writing HTML documents",<br>
                    "hashvalue": "ffc6e151151c232cea9f57e1d98f258606c5548042190478218c338033ae9a2d"<br>
                    },<br>
                    {<br>
                    "id": "5cf65ded2dd18f6e24a369d0",<br>
                    "value": "Before we talk about all the technical stuff, let’s take a moment and talk about you and your\nrelationship with JavaScript",<br>
                    "hashvalue": "deca7d19f018ed7f8f4cdab039beb7123e92527bb215aca74690d01ee41164a3"<br>
                    },<br>
                    ]
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">22 May 2019</span>
        </div>
      </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">SEND AUDIO</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Descripton</h3>
            <div class="subheading mb-3">Send audio to the server</div>
            <div>
              <p>User upload recording file to the server.<br>Notice:The length of text size and audio size must be equal
              when user send to the server</p>
            </div>
            <div>
              <h4>REQUIREMENT</h4>
              <ul>
                <li>
                  <b>METHOD:POST</b>
                </li>
                <li>
                  <b>URL:/api/posts/sendaudio</b>
                </li>
              <li>
                Content-Type:form-data
              </li>
                <li>Key:Value<br>
                  Text:"mytext"<br>
                  myFiles:"Myaudio"
                </li>

                <li>
                  <b>Output:</b><br>
                  <div>
                    [<br>
                    {<br>
                    "fieldname": "myFiles",<br>
                    "originalname": "myaudio",<br>
                    "encoding": "7bit",<br>
                    "mimetype": "audio/mpeg",<br>
                    "destination": "uploads",<br>
                    "filename": "myFiles_1559730443344.mp3",<br>
                    "path": "uploads/myFiles_1559730443344.mp3",<br>
                    "size": 3379616<br>
                    },<br>
                    {<br>
                    "fieldname": "myFiles",<br>
                    "originalname": "myaudio1",<br>
                    "encoding": "7bit",<br>
                    "mimetype": "audio/mpeg",<br>
                    "destination": "uploads",<br>
                    "filename": "myFiles_1559730443400.mp3",<br>
                    "path": "uploads/myFiles_1559730443400.mp3",<br>
                    "size": 3379616<br>
                    }<br>
                    ]<br>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">22 May 2019</span>
        </div>
      </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h1>Coming Soon!</h1>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
